{% extends "layout.html" %}

{% block content %}
<h1>mail<img id="T" src="{{ url_for('static', filename='images/sign.png') }}" height="100px"/>rail</h1>
<h2>Scavenger hunts for all. Create, Play, Discover.</h2>
<h3>We use the technologies of Twilio and Sendgrid to notify our players game updates and quest information.</h3>
<img src="{{ url_for('static', filename='images/twilio.png') }}" width="300px"/>
<img src="{{ url_for('static', filename='images/sendgrid.png') }}" width="300px"/>
<br/>
<br/>
<br/>
<a class="btn" href="/create">Create Your Own Game!</a>
<!-- <h2>The platform transcendent </h2> -->
{% endblock %}
